.about_container {
  padding: 5rem 0;
  margin: 1rem 0;
  width: 100%;
  .about-content {
    display: flex;
    align-items: center;
    .text {
      width: 60%;
      margin-right: 2rem;
      color: #8892b0;
      .section {
        font-size: 1.4rem;
        font-family: "Tenali Ramakrishna", sans-serif;
      }

      .f1 {
        margin-bottom: 1rem;
      }
    }
    .image {
      width: 40%;
      position: relative;

      .img-container {
        width: 15rem;
        border: 20px solid #7505325b;
        //  border-radius: 5px;
        height: 15rem;
        padding: 5px;
        background-color: #64ffdb07;
        .sec-cont {
          width: 15rem;
          height: 15rem;
          //   background-color: #950740;
          border-radius: 5px;
          background-image: url("/static/media/me.c1afaad2.jpg");
          background-size: cover;
          position: absolute;
          top: -5px;
          left: -5px;
          margin: 0 auto;
          transition: 0.7s;
        }
      }
      .img-container:hover {
        .sec-cont {
          top: 25px;
          left: 25px;
          background-image: linear-gradient(#950740aa, #95074079),
            url("/static/media/me.c1afaad2.jpg");
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about_container {
    .about-content {
      flex-direction: column-reverse;
      .text {
        width: 80%;
        margin-right: 0;
      }
      .image {
        width: auto;
        margin: 0 auto;
        margin-bottom: 3rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .about_container {
    .about-content {
      .image {
        .img-container {
          .sec-cont {
            top: auto;
            left: auto;
          }
        }
      }
    }
  }
}
